<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<system.serviceModel>
		<services>
			<service name="Inventory_Management.Service1" behaviorConfiguration="behave">
				<endpoint
					address="http://localhost:8001/Inventory_Management"
					binding="basicHttpBinding"
					contract="Inventory_Management.IService1"/>
			<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
				</service>
			
		</services>
		<behaviors>
			<serviceBehaviors>
					<behavior name="behave">
						<serviceMetadata httpGetEnabled="true"/>
						</behavior>
			</serviceBehaviors>
			</behaviors>
		</system.serviceModel>
</configuration>